body{
	font: "times new roman";
	font-size: 14px;
	width: 90%;
	padding: 1%;
	margin: auto;
}
header{
	text-align: center;
	color: blue;
}

main{
	border: 1px solid black;
	background: #FFB1E7;
	width: 85%;
	padding: 10px;
	margin: auto;
}
table{

}